In [10]:
#worked
credentials_3 = {
  'username':'ffdc4b81-d764-46be-8e47-03f491d7b5ae-bluemix',
  'password':"""80dfbcf49b67682d06b06cafc38b68b19c00c994275c81a071506f513a78ed26""",
  'host':'ffdc4b81-d764-46be-8e47-03f491d7b5ae-bluemix.cloudant.com',
  'port':'443',
  'url':'https://ffdc4b81-d764-46be-8e47-03f491d7b5ae-bluemix:80dfbcf49b67682d06b06cafc38b68b19c00c994275c81a071506f513a78ed26@ffdc4b81-d764-46be-8e47-03f491d7b5ae-bluemix.cloudant.com'
}

In [11]:
!pip install --user cloudant

Requirement already satisfied (use --upgrade to upgrade): cloudant in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s2d4-43cd2a773e38e8-689d91459ebf/.local/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): requests<3.0.0,>=2.7.0 in /usr/local/src/bluemix_jupyter_bundle.v13/notebook/lib/python2.7/site-packages (from cloudant)

In [12]:
from cloudant.client import Cloudant
from cloudant.result import Result
import pandas as pd, json

client = Cloudant(credentials_3['username'], credentials_3['password'], url=credentials_3['url'])
client.connect()

In [13]:
client.all_dbs()

[u'_replicator', u'books', u'crimes', u'expdb']

In [15]:
# fill in database name 
db_name = 'expdb'
my_database = client[db_name]
result_collection = Result(my_database.all_docs, include_docs=True)
data_df = pd.DataFrame([item['doc'] for item in result_collection])
data_df.head()

,_id,_rev,birthdate,bonus,comm,edlevel,empno,firstnme,hiredate,job,lastname,midinit,phoneno,salary,sex,workdept
0,000010,1-67e22034e30f8c1b9c96a4def4df608d,08/24/1963,1000,4220,18,000010,CHRISTINE,01/01/1995,PRES,HAAS,I,3978,152750,F,A00
1,000020,1-19dc368e1f39ef2ebe2661d108c7ab93,02/02/1978,800,3300,18,000020,MICHAEL,10/10/2003,MANAGER,THOMPSON,L,3476,94250,M,B01
2,000030,1-1e10f1d7c13924a264562d8d59d13c05,05/11/1971,800,3060,20,000030,SALLY,04/05/2005,MANAGER,KWAN,A,4738,98250,F,C01
3,000050,1-cbfb29a7a50d412c548701978e959a3d,09/15/1955,800,3214,16,000050,JOHN,08/17/1979,MANAGER,GEYER,B,6789,80175,M,E01
4,000060,1-8dee79a929ef8d820d6885bd4be41dc1,07/07/1975,500,2580,16,000060,IRVING,09/14/2003,MANAGER,STERN,F,6423,72250,M,D11